<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niknovak.sevenweekmurphworkoutchallenge">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RateAppActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".RestTimer3Activity" />
        <activity android:name=".RestTimer2Activity" />
        <activity
            android:name=".RestTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TextInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GifInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourthSetActivity"
            android:label="Fourth Set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdSetActivity"
            android:label="Third Set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondSetActivity"
            android:label="Second Set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StretchActivity"
            android:label="@string/stretch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarmupActivity"
            android:label="@string/warmup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutActivity"
            android:label="First Set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Repeating_activity" />

        <receiver android:name=".Notification_reciever" />
    </application>

</manifest>